*{margin:0;padding:0}

body,html{font-family: 'Noto Sans JP', sans-serif;
    
  }
  
h2{text-transform: uppercase;font-weight: 700;}
p{font-size: :14px!important; font-weight:500;}
  .display-4 {
    font-size: 37px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 171px;
}
  .jumbotron {
    position: relative;
    background:none;z-index:1;
  }
  .jumbotron:after {
      content : "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(images/cas.jpg);
      background-repeat: no-repeat;
      background-position: center;
    background-size: cover;
      width: 100%;
      height:750px;
     
      z-index: -1;
  }
  

  .lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
}
  .nav-item a{color:#fff !important;}
  .lefts{margin-left:330px;}



.golden-btn {
  display: inline-block;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: .3em;
 font-size: 16px!important;
  height: 53px;
    width: 162px;
  line-height: 2.5em;
  border-radius:30px;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px rgba(139,66,8,1),
              inset 0 -1px 1px 3px rgba(250,227,133,1);
  background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  border: 1px solid #a55d07;
  color: rgb(120,50,5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all .2s ease-in-out;
  background-size: 100% 100%;
  background-position:center;
}
.golden-btn:focus,
.golden-btn:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
  border: 1px solid rgba(165,93,7,.6);
  color: rgba(120,50,5,.8);
}
.golden-btn:active {
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
}


.mtop{margin-top: 25px;}

.cards{width:500px;height:300px;background-color: background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  ;border-radius:20px;padding:20px;}

  .bgm{background-image: url(images/2.jpg);margin-top: 177px;background-size: cover;background-position: center center;height: 871px;}
  .bgs{background-image: url(images/bgm2.jpg);margin-top: 0px;background-size: cover;background-position: center center;height: 1660px;padding: 0!important;}




  #slider {
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;

    top: 80%;
    left: 35%;
    transform: translate(-50%,2%);

  }
  
  #slider label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  #s1:checked ~ #slide5, #s2:checked ~ #slide6,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3, #s6:checked ~ #slide4 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
  }
  
  #s1:checked ~ #slide6, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4, #s6:checked ~ #slide5 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3, #s4:checked ~ #slide4,
  #s5:checked ~ #slide5, #s6:checked ~ #slide6 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide6, #s6:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
  }
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide6,
  #s5:checked ~ #slide1, #s6:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
  }
  
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide6, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2, #s6:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(15%,0,-200px);
  }
  
  #slide1 { background-image: url(images/c1.jpg);width: 500px!important; height: 500px!important;}
  #slide2 {  background-image: url(images/c2.jpg);width: 500px !important;height: 500px!important;}
  #slide3 {  background-image: url(images/c3.jpg);width: 500px !important;height: 500px!important;}
  #slide4 { background-image: url(images/c1.jpg);width: 500px!important;height: 500px!important;}
  #slide5 {  background-image: url(images/c2.jpg);width: 500px !important;height: 500px!important;}
  #slide6 {  background-image: url(images/c3.jpg);width: 500px !important;height: 500px!important;}



  .box-canvas{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    width: 300px;
    height: 110px;
  }
  
  .hump {
    position: relative;
    width: 110px;
    height: 110px;
    background: radial-gradient(green, 70%, #04C904);
    border-radius: 50%;
  }
  
  .hump::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: var(--background-color);
    border-radius: 50%;
  }
  
  .tail {
    position: relative;
    width: 70px;
    height: 110px;
    border-radius: 50% 40% 50% 50%;
    background: radial-gradient(green, 70%, #04C904);
  }
  
  .tail::before {
    content: '';
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 50px;
    height: 90px;
    background: var(--background-color);
    border-radius: 50% 40% 50% 50%;
  }
  
  .neck {
    position: relative;
    width: 70px;
    height: 120px;
    border-radius: 50% 40% 50% 50%;
    background: radial-gradient(green, 70%, #04C904);
  }
  
  .head {
    position: absolute;
    width: 40px;
    height: 55px;
    border-radius: 50%;
    left: 0px;
    top: -12px;
    transform: rotate(55deg);
    background: radial-gradient(at bottom right, green, 70%, #04C904);
  }
  
  .head::after {
    content: '';
    top: -10px;
    left: 2px;
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
  
  }
  
  .hat {
    position: absolute;
    top: -8px;
    left: -13px;
    width: 50px;
    height: 20px;
    background: #B22436;
    border-radius: 50%;
    transform: rotate(-35deg);
    overflow: hidden;
  }
  
  .hat::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 20px;
    background: repeating-linear-gradient(to right, 
      transparent,
      transparent 10px,
      #DF6125 10px,
      #DF6125 12px
    ),
      repeating-linear-gradient(to bottom,
       transparent,
      transparent 5px,
        #0D4534 5px,
        #0D4534 7px
      );
  }
  
  
  .eye {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    border: 3px solid white;
  }
  
  .neck::before {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 50px;
    height: 90px;
    background: var(--background-color);
    border-radius: 40% 50% 50% 50%;
  }
  
  .water {
    position: absolute;
    display: flex;
    width: 100%;
    height: calc(100vh - 150px);
    background: dodgerblue;
    top: 150px;
  }
  
  .water::before {
    content: '';
    width: 100%;
    margin-top: -10px;
    background: radial-gradient(
      closest-side,
      dodgerblue,
      dodgerblue 99%,
      transparent 99%
    );
    background-size: 75px 50px;
   
  }
  
  .social{word-spacing:10px;}
  a{color:#fff;}

  i{color:#fff;}

  .bg-my{background-color: #450b79;}
  
  .left{    position: relative;
    left: 281px}

    .my-social{position: relative;top:-43px;left:546px;word-spacing: 20px;}